h1::before {

    font-family: 'Indie Flower', cursive;
    }

    #another-test{
        background-color: rgb(255, 0, 119)
    }
.test-class{ background-color: crimson}
header{ background-color:coral
}

:root{
--primary:#03DAC6;
--primary-variant:#018786;
--secondary:#3700B3;
--secondary-variant:#6200EE;
--base-spacing: 8px;
}


h1{
margin: calc(var(--base-spacing)*9)
}

header,
 section:nth-of-type(odd),
 footer{
   background:var(--primary);
   color: var(--primary-text);
 }

 nav{
border-top: var(--border-secondary);
border-bottom: var(--border-secondary);
min-height: 72px;
 }

 footer{
 border-top:var(--border-primary);
}

.fas {
    font size: 48px;
   }

nav .fas{
    margin: var(--base-spacing);
    transform:translateX(calc(100vw - (var(--base-spacing))*10));
}

nav .is-hidden {
    height: 0;
    font-size: 0;

}

/*Layout*/
header{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--base-spacing);
    text-align: center;
}

figure,
h1{
 margin:0;
}

figure,
    h2{
        margin:0;

    }

img{
    border-radius:50%;
    box-shadow: 3px;
}



nav ul {
    list-style-type: none;
    text-align: center;
   }

   .hero a {
       background:var(--secondary-variant);
       border-radius: var(--base-spacing);
       padding: var(--base-spacing);
   }

    .read-more-btn {
        font-size: 16px;
        display: inline-block;
        margin: 8px;
        border-radius: var(--base-spacing);
        padding: var(--base-spacing);
    }

    .hero a {
    background: var(--secondary-variant);
    display: inline-block;
    margin:var(--base-spacing) 0;
    }


nav a,
.hero a{
    /*remove underline*/
    text-decoration: none;
    background-color: var(--secondary);
}


.read-more-btn {

    background: white

}





.is-hidden--mobile {
    font-size: 0;
    height:0;
}




.hero {
    align-items: center;
    background: url(http://lorempixel.com/640/360) center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 20vh;
    max-height: 420px;
    background-color: red;
}






@media screen and (min-width:768px){
    header {
     background: #3700B3
    }

.read-more-btn {
align-self:center ;
max-width:calc( var(--base-spacing));
text-align:center;
}

}



@media screen and (min-width: 1068px){
    header {
        flex-direction: row;
        padding: calc(var(--base-spacing));
    }

    .is-shown--desktop {
        font-size: initial;
    }


    header figure {
        margin-right:calc(var(--base-spacing)*2);
    }

    .flex-container--desktop; {
        display: flex;
        flex-direction: row;
    }

    nav .is-hidden--desktop; {
        font-size:0;
        height: 0;
    }

}
