h1::before {
    content: 'Jesus is Real ';
    font-family: 'Indie Flower', cursive;
    }

    #another-test{
        background-color: rgb(255, 0, 119)
    }
.test-class{ background-color: crimson}
header{ background-color:coral
}

:root{
--primary:#03DAC6;
--primary-variant:#018786;
--secondary:#3700B3;
--secondary-variant:#6200EE;
--base-spacing: 8px




}

}
body{
}
h1{
margin: calc(var(--base-spacing)*9)
}
header,
 section:nth-of-type(odd),
 footer{
   background:var(--primary);
   color: var(--primary-text);
 }
 nav{
border-top: var(--border-secondary);
border-bottom: var(--border-secondary);
 }
footer{
 border-top:var(--border-primary);
}
/*Layout*/
header{
    display:flexbox;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--base-spacing);
}
figure,
h1{
 margin:0;
}

figure,
    h2{margin:0;

    }

img{
    border-radius:50%;
    box-shadow: 3px;
}

nav ul {
    list-style-type: none;
    text-align: center;
   }

}
}
nav a {
    text-decoration:none;
  }
